.asterisk {
    color: red;
}

footer {
    min-height: 200px;
    background-color: #222222;
    margin: 50px 0 0 0;
    position: relative;
}

footer .box {
    position: absolute;
    bottom: 0;
    color: #fff;
    background-color: #121212;
    width: 100%;
}

.button {
    -moz-appearance: button;
    -webkit-appearance: button;
    padding: 10px;
    margin: 10px;
    width: 170px;
}

.box-validate {
    color: red;
}

.crop {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.crop img {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px;
}